<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" charset="UTF-8"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
</head>
<body>
<br/><br/>
<div class="swim-class">
<form id="swimForm" class="form-inline swim-input-form" method="post" action="/">
    <div class="form-group">
        <label for="swimDistance">How many meters did you swim?</label>
        <input type="text" class="form-control" id="swimDistance" name="distance" value="2000">
        <button type="submit" id="swimSubmit" class="btn btn-default">Track Swim</button>
    </div>
</form>
</div>
</body>
</html>