<% include header.ejs %>
<% include nav.ejs %>
<br/><br/><br/><br/>

<div class="swim-class">
<form id="swimForm" class="form-inline swim-input-form" method="post" action="/">
    <div class="form-group">
        <label for="swimDistance">How many meters did you swim?</label>
        <input type="text" class="form-control" id="swimDistance" name="distance" value="2000">
        <button type="submit" id="swimSubmit" class="btn btn-default">Track Swim</button>
    </div>
</form>
</div>

<% include footer.ejs%>