<html>
<head></head>
<body>
	<form id="swimForm" method="post" action="/">
		<h4>How many meters did you swim?</h4>
		<input type="text" id="swimDistance" name="distance" value="2000">
		<input type="submit" id="swimSubmit">
	</form>
</body>
</html>