<% include header.ejs %>
<% include nav.ejs %>
<br/><br/><br/><br/>

<div class="swim-class">
    Nice work on the <%=swimDistance%> meters. Thanks for letting us know.
</div>

<% include footer.ejs%>